/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require fancybox
 *= require_tree .
 */

.navbar-inner {
  background: #000;
  font-color: #fff;
}

.tip {
  font-size: 11px;
  font-weight: 900;
  color: #D30000;
}

.tipo {
  font-size: 13px;
  font-weight: 900;
  padding: 8px 4px 8px 4px;
}

.infowindow {
  min-width: 500px;
  min-height: 170px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #B50000;
  margin-top: 20px;
  margin-botton: 15px;
  margin-left: 15px;
}

.infowindow-titulo {
  max-width: 440px;
  float: left;
}

.infowindow-logo {
  margin-right: auto;
  margin-left: auto;
  min-width: 160px;
  min-height: 160px;
  float: right;
}

.infowindow-logo img {
  max-width: 160px;
  max-height: 200px;

}

.info {
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  min-height: 800px;
}

.info-details {
  max-width: 700px;
  float: left;
}

.info-image {
  max-width: 200px;
  float: right;
}

.users-shared-links {
  font-size: 14px;
  font-weight: 900;
}

strong {
  font-size: 14px;
}

.search {
  float: right;
  vertical-align: bottom;
}

ul#grid {
  padding: 0;
  list-style: none;
  margin: 20px auto 0;
  width: 700px;
}

#grid li {
  float: left;
  padding: 0;
  margin: 0 5px 10px 5px;
}

#grid li a {
  display: block;
}

#grid li img {
  background-color: #64666a;
  padding: 2px; margin: 0;
/*  border: 1px dotted #58595b; */
  width: 150px;
  height: 150px;
}

#grid li a:hover img {
  opacity:0.3; filter:alpha(opacity=30);
}

.grid_display {
  padding: 20px;
  margin-left: auto; margin-right: auto;  margin-top:50px; margin-bottom:0;
  /*background-color: #ffd7ce;*/
  width: 513px;

  /*these two properties will be inherited by .grid_display h2 and .grid_display p */
  font-family: 'GraublauWeb', arial, serif;
  text-align: center;
}

div.grid_display h2 {
  padding: 0; margin: 0;
  clear: both;
  font-size: 35px;
  font-weight: normal;
  color: #58595b;
  background: none;
  font-family: 'GraublauWeb', arial, serif;

  /* reset for cascade effects that are trickling down from other h2's */
  text-transform: none;
  letter-spacing: normal;
}

.grid_display p {
  margin:0; padding: 0;
  font-size: 15px;
  color: #58595b;
}

footer {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.smallmap {
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  width: 640px;
  height: 256px;
  border: 1px solid #ccc;
}
