body {
  background-image: url('/mapas/assets/background.png');
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#main-area {
  background-color: #fff;
  margin: 0px 5% 0px 5%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

.sobre p {
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  /* color: #000; */
  color: #B30000;
  font-weight: 900;
  &:visited {
    /* color: #666; */
  }
  &:hover {
    /* 
     color: #fff;
     background-color: #000;
    */
    background-color: transparent;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

/*
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
*/

.field_with_errors {
  display: inline;
  color: #BD0012;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
